html,body{
	height: 100%;
}
body {
    color: #eee;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
    box-shadow: inset 0 0 100px rgba(0,0,0,.5);
    background:  #aa2f20 url('../img/bg-image.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/*background: #333;*/
}
@media (min-width: 768px){
	.site-wrapper-inner {
    vertical-align: middle;
	}
}
	
.site-wrapper-inner {
    display: table-cell;

}
.cover-container {
	background: rgba(0, 0, 0, 0.6);
    margin-right: auto;
    margin-left: auto;
}
.cover h1{
	display: inline-block;
	padding:10px 20px;
	border-radius: 10px;
	font-family: 'Reem Kufi', sans-serif;
	font-size: 170px;
	margin-bottom: 20px;	
}
.cover p.lead{
	padding-bottom: 20px;
}